body{
    background-color: #f3f3f3;
}
h1{
    text-align: center;
}

#form{
    border-radius: 10px 10px 10px 10px;
    background-color: #000000f1;
    margin-right: 10%;
    margin-left: 10%;
    color: white;
    padding: 2.5%;
}

#buttons{
    text-align: center;
}

#description{
    width: 99.5%;
    border-radius: 10px 10px 10px 10px;
}

#observations{
    width: 99.5%;
    border-radius: 10px 10px 10px 10px;
}

#user_stories{
    border-radius: 10px 10px 10px 10px;
    width: 40%;
}

#story_number{
    border-radius: 10px 10px 10px 10px;
}

#fst_line{
    border-radius: 10px 10px 10px 10px;
}

#value{
    border-radius: 10px 10px 10px 10px;
    position: sticky;
    left: 70.5%;
}

#value-label{
    position:sticky;
    left: 62%;
}

#value-label-2{
    position:sticky;
    left: 83%;
}

#deadline-label{
    position:sticky;
    left: 48.5%;
}

#deadline{
    border-radius: 10px 10px 10px 10px;
    position:sticky;
    left: 63%;
}

#deadline-days{
    position:sticky;
    left: 76%;
}

#deadline-days-label{
    position:sticky;
    left: 77.5%;
}

#deadline-weeks{
    position:sticky;
    left: 81%;
}

#deadline-weeks-label{
    position:sticky;
    left: 82.5%;
}